<?xml version="1.0"?>
<!--
{{License}}
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="msg91_magento::voodoo" title="Magento MSG91 SMS" module="msg91_magento" sortOrder="11" resource="msg91_magento::voodoo"/>
        <add id="msg91_magento::voodoo_head" title="Settings" module="msg91_magento" sortOrder="40"
             parent="msg91_magento::voodoo" resource="msg91_magento::voodoo"/>
        <add id="msg91_magento::config" title="Configuration" module="msg91_magento" sortOrder="50"
             action="adminhtml/system_config/edit/section/msg91_magento_configuration"
             resource="msg91_magento::voodoo" parent="msg91_magento::voodoo_head" />
    </menu>
</config>
